* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: aquamarine;
    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
}

nav {
    background-color: white;
    text-align: right;
    padding: 2rem 0;
    
    ul {
        display: flex;
        justify-content: right;
        list-style-type: none;
        margin-right: 10vw;

        li {
            margin: 0 1rem;
            
            a {
                text-decoration: none;
                color: gray;
            }
        }
    }
    
}

.content {
    background-color: white;
    min-width: 80vw;
    max-width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    height: 70vh;

    .section {

        .hero {
            background-color: gray;
        }
    }
}

.footer {
    background-color: rgb(27, 27, 27);
    color: white;
    padding: 2rem 0;

    p {
        text-align: center;
        font-size: 0.75rem;
        
        sup {
            font-size: 0.5rem;
        }
    }
}